<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%#= form.label :titulo %>
    <%= form.text_field :title, placeholder: "titulo",  class: "form-floating" %>
  </div>

  <!-- <div class="field form-floating"> -->
    <%#= form.label :aonde %>
    <%#= form.text_field :location %>
  <!-- </div> -->

  <!-- <div class="field"> -->
  <%#= form.label :excerpt %>
  <%#= form.text_field :excerpt %>
  <!-- </div> -->

  <div class="field form-floating">
    <%#= form.label :estoria %>
    <%= form.text_area :body, placeholder: "estoria" %>
  </div>

  <!-- <div class="field"> -->
  <%#= form.label :published_at %>
  <%#= form.datetime_select :published_at %>
  <!-- </div> -->

  <div class="actions">
    <%= form.submit 'Enviar', class: "btn btn-warning" %>
  </div>
<% end %>
