<div>
  <h2><%= @post.title %></h2>
  <p><%= @post.body %></p>
  <% if user_signed_in? %>
    <td><%= link_to 'Editar', edit_post_path(post) %></td>
    <td><%= link_to 'Deletar', post, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
  <% end %>

  <% if user_signed_in? %>
    <%= link_to 'Editar', edit_post_path(@post), class: "btn btn-primary" %> |
  <% end %>
  <%= link_to 'Voltar', posts_path, class: "btn btn-primary" %>
</div>
