<%= link_to 'Voltar', posts_path, class: "btn btn-outline-primary" %>

<div class="card mb-2 mt-2">
  <div class="card-body">
    <h2 class="card-title"><%= @post.title %></h2>
    <small class="opacity-70 text-nowrap"><%= link_to @post.user.name, profile_path(id: @post.user.profile.id), class: "" %> |
      <%= @post.created_at.to_date %></small>
    <p><%= simple_format @post.body %></p>
  </div>
</div>

<% if has_all_permissions? %>
  <%= link_to 'Editar', edit_post_path(@post), class: "btn btn-outline-success" %>
  <%= link_to 'Deletar', @post, method: :delete, class: "btn btn-outline-danger", data: { confirm: 'Tem certeza?' } %>
<% end %>

<section class="mt-2">
  <h3>Comentários</h3>
  <% if @post.comments.any? %>
    <%= render @post.comments %>
  <% end %>

  <%= render 'comments/new' %>
</section>
