<div>
  <h2><%= @post.title %></h2>
  <p><%= @post.body %></p>
  <% if user_signed_in? %>
    <%= link_to 'Editar', edit_post_path(@post), class: "btn btn-primary" %>
    <%= link_to 'Deletar', @post, method: :delete, class: "btn btn-primary", data: { confirm: 'Tem certeza?' } %>
    <%= link_to 'Voltar', posts_path, class: "btn btn-primary" %>
  <% end %>
</div>
