<p>
  <strong>Titulo:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Aonde:</strong>
  <%= @post.location %>
</p>

<!-- <p>
     <strong>Excerpt:</strong>
     <%#=post.excerpt %>
     </p>
-->
<p>
  <strong>Estoria:</strong>
  <%= @post.body %>
</p>

<!-- <p>
     <strong>Published at:</strong>
     <%#= @post.published_at %>
     </p>
-->
<%= link_to 'Editar', edit_post_path(@post) %> |
<%= link_to 'Voltar', posts_path %>
