<!DOCTYPE html>
<html>
  <head>
    <title>Babu - As aventuras do Barrigota e Buxitoh</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="container">
    <%= render "shared/navbar" %>
    <%= render "shared/notices" %>

    <h3>Babu</h3>
    <h5>As aventuras do Barrigota e Buxitoh</h5>

    <br>
    <%= yield %>

    <%= render "shared/footer" %>
  </body>
</html>
